---
layout: default
---
{{ content }}

{% assign journals = site.posts.journals %}

<div class="journals">
    <h2 class="content-subhead">Recent Journals</h2>

    {%- assign date_format = site.minima.date_format | default: "%B %-d, %Y" -%}

    {% for post in site.categories.journals %} 
    <section class="journal">
        <header class="journal-header">
            <small>
                <h2 class="post-title">
                    <a href="{{ post.url | relative_url }}">
                        {{ post.title | escape }}
                    </a>
                </h2>
            </small>

            <p class="post-meta">
                Posté le 
                {% include date.html date=post.date %}
                |
                <br class="sm-display"/>
                Sous
                <span>
                    {% for tag in post.tags %}
                        <a href="{{ site.baseurl }}/tags/#{{ tag }}">{{ tag }}</a>
                    {% endfor %}
                </span>
            </p>
        </header>

        <div class="journal-description">
            <p>
                <em>{{ post.content | strip_html | escape | truncate: 300}}</em>
            </p>
        </div>

    </section>
    {%- endfor -%}
</div>


<br />
